.WhiteRow{
   width: 100%;
   height: 450px;
   background-color: rgb(255, 255, 255);
}

.GreenRow{
   width: 100%;
   height: 450px;
   background-color: rgba(116, 193, 128, 0.299);
}

.BlueRow{
   width: 100%;
   height: 450px;
   background-color: rgba(161, 201, 241, 0.796);
}

.YellowRow{
   width: 100%;
   height: 450px;
   background-color: rgb(245, 220, 122);
}

.GrayRow{
   width: 100%;
   height: 450px;
   background-color: rgb(172, 186, 185);
}

.Text{
   position: relative;
   top: 30%;
   left: 20%;
}