.title{
    color: grey;
    padding-top: 2%;
    padding-left:2%;
}

.ti_in{

    font-size: 25px;
    color: grey;
    padding-top: 1%;
    padding-left: 3%;
}

.inhalt {
    font-size: 20px;
    padding-left: 3%;
    padding-right: 5%;
    padding-top: 0.5%;
}

.st_btn {
    padding-top: 5%;
}
.btn {
    background-color: grey;
    border-color: grey;
    margin-left: 20%;
    margin-right: 20%;
}

