h1, h2, h3, h4, h5, p {
    padding: 10px
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.myCard {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 16px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

.listPadding {
    padding-top: 16px;
    padding-bottom: 16px
}

.cardList {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
    margin: 0
}

.cardList:last-child {
    border-bottom: none;
}

.cardList :hover {
    background-color: #ccc
}