h1, h2, h3, h4, h5, p {
    padding: 10px
}

#leftTextContainer{
text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.myCard {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 16px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

.listPadding {
    padding-top: 16px;
    padding-bottom: 16px
}

.cardList {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
    margin: 0
}

.cardList:last-child {
    border-bottom: none;
}

.cardList :hover {
    background-color: #ccc
}
.KlimaCollapsible {
    background-color: #cbcbcb;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
}

.KlimaCollapsible:hover {
    background-color: #b6b6b6;
}

.KlimaCollapsible:after{
    content: '\21E9';
    color: black;
    float: right;
}

.QuizCollapsible {
    background-color: #525252;
    color: #e0e0e0;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
}

.QuizCollapsible:hover {
    background-color: #b6b6b6;
}
.QuizCollapsible:after {
    content: '\21E9';
    color: white;
    float: right;
}
