
html, body {
    background-color: #fff;
}


/*--------- Banner's ---------*/
#banner {
    background-color: #dde8fc;
    padding-top: 4%;
    padding-bottom: 2.5%;
    text-align: center;
}

#link-01{
    color: #fff;
    text-decoration: none;
}

#link-01:hover{
    color: #fff;
    text-decoration: none;
}

.back-btn{
    padding-left: 5%;
}

.btn {
    display:block;
    height: 54px;
    width: 55px;
    border-radius: 50%;
    border-color: #fff;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}

.btn:hover{
        box-shadow: rgb(190, 209, 249) 0px 13px 27px -5px, rgb(190, 209, 249) 0px 8px 16px -8px;
 }
  
/*--------- img ---------*/


.wave-img{
    width: 100%!important;
}

.arr-img{
    padding-top: 7%;
}


/*--------- section btn title ---------*/
.sys-title{
    text-align: center;
}

/*--------- Fonts ---------*/
h1{
    width: auto!important;
    font-family: "Century Gothic", CenturyGothic;
}

h2{
    padding-top: 3%;
    width: 50%!important;
    font-family: "Bahnschrift";
    font-size: 25px;
    font-weight:lighter;
}

.tag-01{
    background-color: #000;
    padding-left: 8px;
    padding-right: 8px;
    font-family: "Century Gothic", CenturyGothic;
}

.tag-02{
    font-family: Lucida Calligraphy;
    text-align: center;
    font-size: larger;
}

.tag-title{
    font-family: "Bahnschrift";
    font-size: 25px;
    font-weight:lighter;
}


/*--------- section math  -------------------------------------------------------------------------------------------------------------------*/

.double_underline{  
	border-bottom: 3px double;  
} 

