
html, body {
    background-color: #fff;
}


/*--------- Banner's ---------*/
#banner {
    background-color: #dde8fc;
    padding-top: 4%;
    padding-bottom: 2.5%;
    text-align: center;
}

#link-01{
    color: #fff;
    text-decoration: none;
}

#link-01:hover{
    color: #fff;
    text-decoration: none;
}

.back-btn{
    padding-left: 5%;

}

.btn {
    display:block;
    height: 54px;
    width: 55px;
    border-radius: 50%;
    border-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    float: left;
}

.btn:hover{
        box-shadow: rgb(190, 209, 249) 0px 13px 27px -5px, rgb(190, 209, 249) 0px 8px 16px -8px;

}

/*--------- inhalt ---------*/
.box{
    background-color: #fff;
    box-shadow: rgba(119, 119, 119, 0.25) 0px 13px 27px -5px, rgba(124, 124, 124, 0.3) 0px 8px 16px -8px;
}

.box-inhalt{
    padding: 2%;
}
  
/*--------- img ---------*/


.wave-img{
    width: 100%!important;
}

.arr-img{
    padding-top: 7%;
}


/*--------- section btn title ---------*/
.sys-title{
    text-align: center;
}

/*--------- Fonts ---------*/
h1{
    width: auto!important;
    font-family: "Century Gothic", CenturyGothic;
}

h2{
    padding-top: 3%;
    width: 50%!important;
    font-family: "Bahnschrift";
    font-size: 25px;
    font-weight:lighter;
}

.tag-01{
    background-color: #000;
    padding-left: 8px;
    padding-right: 8px;
    font-family: "Century Gothic", CenturyGothic;
}

.tag-02{
    font-family: Lucida Calligraphy;
    text-align: center;
    font-size: larger;
}

.tag-title{
    font-family: "Bahnschrift";
    font-size: 25px;
    font-weight:lighter;
}


/*--------- section math  -------------------------------------------------------------------------------------------------------------------*/

.double_underline{  
	border-bottom: 3px double;  
} 

.describtion-math{
    text-align: left;
}

.collapsible {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .collapsible:hover{
      background-color: #dde8fc;
  }

 .button{
     text-decoration: none!important;
     color: black;
     text-align: center;
     
 }

 .button-box{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-top: 2%;
    margin-bottom: 4%;
    text-align: center;
 }


